
body, html {
    height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #bdbdbd;
    background-color: #0b1119;
}
.wrapper {
    
}
.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.header {
    position: relative;
    padding-top: 33px;
}
.circles-decorate {
    width: 375px;
    height: 369px;
    position: absolute;
    top: 210px;
    left: 265px;
    z-index: 1;
    overflow: hidden;
}
.logo__pic {
    width: 109px;
    height: 30px;
}
.subscribe__block {
    text-align: center;
    position: relative;
}
.subscribe__subtitle {
    margin: 0;
    margin-top: 39px;
    color: #f99406;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-shadow: 0 3px 27px rgba(249, 148, 6, 0.59);
}
.subscribe__title {
    margin: 0;
    margin-top: 21px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.subscribe__description {
    margin: 0;
    margin-top: 22px;
    color: #bdbdbd;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.8px;
}
.slides-decorate {
    width: 245px;
    height: 242px;
    position: absolute;
    top: 180px;
    left: 46px;
    z-index: 10;
}
.subscribe__form {
    margin: 0 auto;
}
.subscribe__email {
    margin-top: 259px;
    width: 290px;
    height: 45px;
    background-color: #ffffff;
    color: #afafaf;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
    border: 0;
}
.subscribe__btn {
    width: 290px;
    height: 45px;
    background-color: #f99406;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    border: 0;
}
.achieves {
    padding-top: 13px;
}
.achieve__block {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.achieve__item {
    padding: 0;
    padding-top: 51px;
}
.achieve__title {
    margin: 0;
    margin-top: 30px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.achieve__description {
    margin: 0;
    margin-top: 20px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 0.8px;
}
.author__block {
    min-height: 744px;
    position: relative;
    text-align: center;
}
.author__block__container {
    width: 292px;
    min-height: 446px;
    position: absolute;
    top: 215px;
    border: 3px solid #f59f26;
}
.author__photo {
    width: 185px;
    height: 239px;
    margin-top: -139px;
}
.author__subtitle {
    margin: 0;
    margin-top: 26px;
    color: #f99406;
    text-shadow: 0 3px 27px rgba(249, 148, 6, 0.59);
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
.author__name {
    margin: 0;
    margin-top: 14px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.author__description {
    margin: 0;
    margin-top: 21px;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4px;
}
.author__bio {
    margin: 0 auto;
    margin-top: 42px;
    width: 256px;
    color: #bdbdbd;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
}
.advantage {
    padding-bottom: 46px;
}
.line__decor {
    display: block;
    width: 70px;
    height: 2px;
    background-color: #f99406;
}
.line__decor-second {
    display: block;
    width: 70px;
    height: 2px;
    background-color: #f99406;
    margin-top: 13px;
    margin-left: 20px;
}
.advantage__title {
    margin: 0;
    margin-top: 33px;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.advantage__box {
    margin: 0;
    padding: 0;
    list-style: none;
}
.advantage__item__circle-decor::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    margin-top: 5.5px;
    margin-left: 6px;
    background-color: #3c4147;
    border-radius: 50%;
    position: absolute;
    z-index: 11;
}
.advantage__item__circle-decor {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 24px;
    margin-left: 27px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
}
.advantage__item__circle-decor::after {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    margin-top: -6.5px;
    margin-left: -6.5px;
    background-color: #ffffff;
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.advantage__description {
    margin: 0;
    margin-top: -19px;
    padding-left: 81px;
    color: #bdbdbd;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.8px;
    position: relative;
}
.advantage__description::before {
    content: '';
    display: inline-block;
    width: 38px;
    height: 52px;
    margin-left: -23px;
    color: #ffffff;
    opacity: 0.05;
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    position: absolute;
}
.advantage__description-first::before {
    content: '1';
}
.advantage__description-second::before {
    content: '2';
}
.advantage__description-third::before {
    content: '3';
}
.advantage__description-fourth::before {
    content: '4';
}
.advantage__description-fifth::before {
    content: '5';
}
.footer {
    padding-top: 86px;
    padding-bottom: 80px;
    
}
.subscribe__block-footer {
     position: relative;
    text-align: center;
}
.circles-decorate-footer {
    width: 448px;
    height: 486px;
    margin: 0 auto;
    position: absolute;
    top: -86px;
    left: -86px;
    overflow: hidden;
}
.footer__title {
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer__description {
    margin: 0;
    margin-top: 19px;
    color: #f99406;
    text-shadow: 0 3px 27px rgba(249, 148, 6, 0.59);
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.sale__text {
    margin: 0;
    margin-top: 41px;
    color: #bdbdbd;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px;
}
.subscribe__form-footer {
    margin-top: -65px;
}
.contacts {
    min-height: 61px;
    background-color: #080d13;
    padding-top: 21px;
}
.contact__description {
    margin: 0;
    margin-left: 6px;
    box-sizing: border-box;
    color: #bdbdbd;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0.6px;
}
.contact__description__company-name {
    color: #f99406;
    letter-spacing: 0.6px;
}