extends ../layout

block content
  include ../_includes/_features

  include ../_includes/_about

  include ../_includes/_questions

  include ../_includes/_offer

block js
  script(src="js/libs/jquery-3.3.1.min.js")
  script(src="js/libs/jquery.plugin.js")
  script(src="js/libs/jquery.countdown.js")
  script(src="js/main.min.js")
