<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Скачайте бесплатный видеокурс по арбитражу трафика и получите 100% методики по заработку на товарном арбитраже.")
    block title
      title Школа трафика
    block libs

    link(href="css/style.min.css", rel="stylesheet")

  body
    .wrapper
      block header
        include ./_includes/_header

      block content

    block footer
      include ./_includes/_footer

    block js
