.header {
  min-height: 627px;
  padding-top: 33px;
  overflow-x: hidden;

  @media (min-width: $md) {
    min-height: 548px;
    padding-top: 63px;
    padding-bottom: 118px;
  }

  @media (min-width: $xl) {
    min-height: 762px;
    padding-bottom: 260px;
  }
}

.header__container {
  @media (min-width: $md) {
    position: relative;
  }
}

.header__link {
  display: inline-block;
  font-size: 0;
}

.header__img {
  display: block;
  width: 109px;
  height: 30px;
}
