// Colors

$light-white: #bdbdbd;
$white: #ffffff;
$orange: #f99406;
$orange-text-shadow: 0 3px 27px rgba(249, 148, 6, 0.59);
$dark-blue: #0b1119;

// Typographic
$global-font-family: "Roboto", "Helvetica", sans-serif;
$global-font-size: 16px;
$global-line-height: 24px;
$global-font-weight: 300;
$h2-font-weight: 400;
$h2-font-size: 20px;
$h2-line-height: 30px;

// Breakpoints
$xs: 320px;
$md: 750px;
$xl: 1170px;
