section.features
  .container
    ul.features__list
      li.features__item
        picture.features__img
          source(srcset="img/switcher.webp, img/switcher@2x.webp 2x", type="image/webp")
          img(src="img/switcher.png", srcset="img/switcher@2x.png 2x", alt="Преимущество в скорости освоения ниши")
        h3.features__title Быстро
        p.features__descr вольешься в нишу интернет продаж
      li.features__item
        picture.features__img
          source(srcset="img/briefcase.webp, img/briefcase@2x.webp 2x", type="image/webp")
          img(src="img/briefcase.png", srcset="img/briefcase@2x.png 2x", alt="Преимущество заработка в любой точке мира")
        h3.features__title Овладеешь
        p.features__descr наиболее выгодной и&nbsp;востребованной профессией 2016&nbsp;года
      li.features__item
        picture.features__img
          source(srcset="img/coins.webp, img/coins@2x.webp 2x", type="image/webp")
          img(src="img/coins.png", srcset="img/coins@2x.png 2x", alt="Преимущество овладеть выгодной профессией")
        h3.features__title.features__title--last-item Зарабатывай
        p.features__descr.features__descr--last-item деньги в&nbsp;любой точке мира
