section.questions
  .container
    h2.questions__title После прохождения<br> бесплатного видеокурса ты&nbsp;узнаешь:
  .questions__list-wrapper
    ul.questions__list
      li.questions__item
        span.questions__circle-decorate.questions__circle-decorate--one
        span.questions__text.questions__text--one В чем суть<br> арбитража трафика?
      li.questions__item
        span.questions__circle-decorate.questions__circle-decorate--two
        span.questions__text.questions__text--two Как заработать<br> на&nbsp;арбитраже трафика?
      li.questions__item
        span.questions__circle-decorate.questions__circle-decorate--three
        span.questions__text.questions__text--three Сколько можно заработать на&nbsp;товарке?
      li.questions__item
        span.questions__circle-decorate.questions__circle-decorate--four
        span.questions__text.questions__text--four Как стать<br> арбитражником?
      li.questions__item
        span.questions__circle-decorate.questions__circle-decorate--five
        span.questions__text.questions__text--five С чего начать?
    .questions__line-decorate
